<div class="top">
  
  
 <div class="container">
   <div class ="row">
    <div class = "col-lg-3">
    <p>User info<p>
    
    <table class="table">
      <tr>
       <th>name</th>
       <th></th>
      </tr>
      <tr>
       <th>intoroduction</th>
       <th></th>
      </tr>
    </table>

<p>New book</p>


<%=  form_with model: book,local:true do |f| %>
<p>Title</p>
  <%= f.text_field :title %>
<p>Opinion</p>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %></br>
<% end %>
</div>